

.logo {
    content: url('../../assets/Logo/file.png');
    width: 100%;
    height: 100%;
}

.footer-background {
    background-color: #a7b5a5;
    color: white;
}


.contact-info p {
    font-size: 18px;
    margin-bottom: 5px; /* Reduce space between items */
    display: flex;
    align-items: center;
}

.contact-info p i {
    margin-right: 10px; /* Space between icon and text */
}

.bi {
    font-size: 32px; /* Adjust icon size */
}

.emailLink {
    color: white; /* Email link color */
    text-decoration: none; /* No underline */
}

.emailLink:hover {
    text-decoration: underline; /* Underline on hover */
}

/* Responsive settings for the features */
@media (max-width: 768px) {
    .contact{
        width: 100%;
    }

    .fb{
        margin: auto;
    }
  }