<footer class="footer">
    <div class="footer-container">
      <div class="footer-logo">
        <img src="assets/Logo/cake-logo.png" alt="Logo" height="100" />
      </div>
  
      <div class="footer-links">
        <!-- <div class="footer-column">
          <button class="consultation-button" routerLink="/contact">Book A Consultation</button>
        </div> -->
        <div class="col-md-4 d-flex justify-content-center contact">
            <div class="contact-info">
                <p><i class="bi bi-geo-alt"></i> Templeton, MA</p>
                <p><a class="emailLink" href="mailto:keepeatingcake&#64;gmail.com">
                    <i class="bi bi-envelope"></i> <p>keepeatingcake&#64;gmail.com</p>
                </a></p>
            </div>
        </div>
        <!-- <div class="footer-column">
          <h3>General</h3>
          <ul>
            <li><a routerLink="/about">About Us</a></li>
            <li><a routerLink="/contact">Contact</a></li>
          </ul>
        </div>
        <div class="footer-column">
          <h3>Explore</h3>
          <ul>
            <li><a routerLink="/build">Build With Us</a></li>
          </ul>
        </div> -->
      </div>
  
      <div class="footer-social">
        <h3>Follow Us</h3>
        <div class="social-icons">
          <a href="https://www.facebook.com/profile.php?id=61555487343272" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <a href="https://www.instagram.com/letemeatcake24/" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
  
    <div class="footer-bottom">
      <p>Copyright &#64; 2024 Let 'Em Eat Cake</p>
    </div>
  </footer>



