<div class="b-example-divider"></div>
<div class="footer-background">
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center">
                <img class="logo bi me-2" src="path_to_logo.png" width="175" height="150" alt="footerImg">
            </div>
            <div class="col-md-4 d-flex justify-content-center">
                <div class="contact-info">
                    <p><i class="bi bi-geo-alt"></i> Hudson, FL</p>
                    <p><a class="emailLink" href="mailto:annies.petsitting&#64;yahoo.com">
                        <i class="bi bi-envelope"></i> annies.petsitting&#64;yahoo.com
                    </a></p>
                    <p><i class="bi bi-telephone"></i> (585) 455-5577</p>
                </div>
            </div>
            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <div class="instagram-facebook">
                    <a class="" href="https://www.facebook.com/anniespetsittingllc" target="_blank"><i
                            class="bi bi-facebook social-logos"></i></a>
                </div>
            </ul>
        </footer>
    </div>
</div>
