<div class="hero-container position-relative">
  <div class="overlay position-absolute top-0 end-0 bottom-0 start-0"></div>
  <div class="container position-relative d-flex justify-content-center align-items-center h-100">
    <div class="logo-container"><img src="../../assets/Logo/file.png" width="400" height="400" id="logo" alt="" />
    </div>
  </div>
</div>

<div class="service-container">
  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <div class="row">
        <div class="col-md-6">
          <img src="../../assets/sleep-dog.jpg" class="img-fluid" alt="Visits and Overnights">
        </div>
        <div class="col-md-6 m-auto  text-center">
          <h1 class="display-5 fw-bold">Visits and Overnights</h1>
          <p class="fs-4">We offer personalized dog-walking services to keep your furry friends healthy and happy.
            Whether your pet prefers leisurely strolls or energetic jaunts, we customize each walk to suit their pace
            and personality. Our walks not only help your dog expend pent-up energy but also provide essential mental
            stimulation and social interaction. Trust us to give your dog the exercise and attention they deserve!</p>
        </div>
      </div>
    </div>
  </div>

  <div class="p-5 mb-4 green rounded-3">
    <div class="container-fluid py-5">
      <div class="row">

        <div class="col-md-6 m-auto text-center">
          <h1 class="display-5 fw-bold">Dog Walking</h1>
          <p class="fs-4">We understand that pets are most comfortable in their own homes. That's why Annie's Petsitting
            provides both occasional visits and overnight care. During visits, we feed, play, and attend to your pet's
            needs, ensuring they feel loved and cared for. For those who need extra attention or suffer from separation
            anxiety, our overnight service offers the reassurance of having a dedicated sitter by their side through the
            night, ensuring they are not alone and maintaining their regular routine.</p>
        </div>

        <div class="col-md-6 text-center">
          <img src="../../assets/dog-walking.JPG" class="img-fluid" alt="Visits and Overnights">
        </div>
      </div>
    </div>
  </div>

  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <div class="row">
        <div class="col-md-6">
          <img src="../../assets/IMG_6645.JPG" class="img-fluid" alt="Visits and Overnights">
        </div>
        <div class="col-md-6 m-auto  text-center">
          <h1 class="display-5 fw-bold">Transportation</h1>
          <p class="fs-4">We offer personalized dog-walking services to keep your furry friends healthy and happy.
            Whether your pet prefers leisurely strolls or energetic jaunts, we customize each walk to suit their pace
            and personality. Our walks not only help your dog expend pent-up energy but also provide essential mental
            stimulation and social interaction. Trust us to give your dog the exercise and attention they deserve!</p>
        </div>
      </div>
    </div>
  </div>

</div>