.navbar {
    background-color: transparent !important;
    box-shadow: none;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1030;
    padding-top: 35px; /* Changed from margin-top to padding-top to prevent content from being hidden under the navbar */
    font-size: 20px;
    
}

.navbar-nav .nav-link {
    color: white !important;

    cursor: pointer;
}

.nav-link:hover, .nav-link.active, .nav-link:focus {
    border-bottom: 3px solid; /* Added thickness for visibility */
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.5); /* Adjusted for better visibility */
}

@media (max-width: 992px) {
    .navbar-collapse {
        overflow-y: visible; /* Ensure no vertical scroll is applied */
        max-height: none; /* Remove any maximum height restrictions */
        background-color: white;
    }

    .navbar-nav {
        display: block; /* Ensure nav-items are not inline to allow better visibility */
        width: 100%; /* Full width to better utilize space */

    }

    .navbar-nav .nav-link {
        padding: 8px 15px; /* Increased padding for better touch targets */
        color: black !important;
    }
}
