.contact-container {
    display: flex;
    background-color: #d894ae;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#text {
    padding: 15px;
    font-size: 36px;
    line-height: 52px;
    text-align: center;
    color: #FFFFFF;
}



.embed-responsive {
  position: relative;
  display: block;
  width: 80%;
  padding: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
}

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 80%;
  height: 100%;
  border: 0;
}

/* Responsive settings for the features */
@media (max-width: 768px) {
  .feature {
    flex: 0 0 100%; /* Makes the feature take full width */
    max-width: 100%;
  }

  .contact-container {
    height: 600px;
    justify-content: start;
}

.embed-responsive {
  height: 100%;
}

}



.feature-icon {
  height: 400px; /* Adjust as needed for your design */
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature-icon img.feature-img {
  max-height: 100%;
  max-width: 100%;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}