<div class="container text-center px-4 py-2" id="featured-4">
  <div class="row g-4 py-5">

    <h1>Cake Types</h1>
    
    <!-- Birthdays -->
    <div class="feature col-lg-6 col-md-6 col-sm-12 d-flex flex-column align-items-center">
      <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
        <img src="assets/gallery/pink-farm.png" class="feature-img" alt="Pink Farm Cake">
      </div>
      <h3 class="fs-3 text-pink">Birthdays</h3>
      <p>Make birthdays unforgettable with custom cakes designed to match any theme and age. Every bite is a celebration!</p>
    </div>

    <!-- Weddings -->
    <div class="feature col-lg-6 col-md-6 col-sm-12 d-flex flex-column align-items-center">
      <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
        <img src="assets/gallery/wedding.png" class="feature-img" alt="Wedding Cake">
      </div>
      <h3 class="fs-3 text-blue">Weddings</h3>
      <p>From wedding cakes to groom's cakes, bridal showers, Jack and Jill parties, and anniversaries, we craft elegant, custom designs to make your special day unforgettable.</p>
    </div>

    <!-- Special Occasions -->
    <div class="feature col-lg-6 col-md-6 col-sm-12 d-flex flex-column align-items-center">
      <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
        <img src="assets/gallery/teacher-retirement.png" class="feature-img" alt="Teacher Retirement Cake">
      </div>
      <h3 class="fs-3 text-gold">Special Occasions</h3>
      <p>Graduations and retirements to baby showers, gender reveals, and Taylor Swift watch parties, we create cakes that make every celebration sweeter. Whether it's teacher appreciation or a festive holiday party, we’ve got you covered!</p>
    </div>

    <!-- After Dark -->
    <div class="feature col-lg-6 col-md-6 col-sm-12 d-flex flex-column align-items-center">
      <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
        <img src="assets/gallery/boobs.png" class="feature-img" alt="After Dark Cake">
      </div>
      <h3 class="fs-3 text-red">After Dark</h3>
      <p>Bachelorette parties and girls' nights to pleasure parties and even divorce celebrations, our bold, cheeky cakes add fun and flair to every unforgettable night!</p>
    </div>

  </div>
</div>




<section class="story-section text-center py-5">
  <div class="container">
    <h2 class="mb-4">Menu</h2>
    <img src="assets/menu.png" class="img-fluid rounded shadow-1-strong mb-4" alt="Featured Cake" />   
  </div>
</section>



<div class="container">
</div>