<div class="container text-center px-4 py-4" id="featured-3">
  <div class="row g-4 py-5">
    <div class="feature col-md-4 col-sm-12">
      <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
        <i class="fa-solid fa-house"></i>
      </div>
      <h3 class="fs-2">Visits/Overnights</h3>
      <p>I understand that pets are most comfortable in their own homes. That's why Annie's Petsitting provides both
        occasional visits and overnight care. During visits, I feed, play, and attend to your pet's needs, ensuring
        they feel loved and cared for. For those who need extra attention or suffer from separation anxiety, our
        overnight service offers the reassurance of having a dedicated sitter by their side through the night, ensuring
        they are not alone and maintaining their regular routine.</p>
    </div>
    <div class="feature col-md-4 col-sm-12">
      <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
        <i class="fa-solid fa-dog"></i>
      </div>
      <h3 class="fs-2">Dog-Walks</h3>
      <p>I offer personalized dog-walking services to keep your furry friends healthy and happy. Whether your pet
        prefers leisurely strolls or energetic jaunts, I customize each walk to suit their pace and personality. Our
        walks not only help your dog expend pent-up energy but also provide essential mental stimulation and social
        interaction. Trust us to give your dog the exercise and attention they deserve!</p>
    </div>
    <div class="feature col-md-4 col-sm-12">
      <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
        <i class="fa-solid fa-car"></i>
      </div>
      <h3 class="fs-2">Transportation</h3>
      <p>Need help getting your pet to the vet, groomer, or a playdate? Look no further! Annie's Petsitting offers
        dependable transportation services for most animals. Our transport is equipped with secure carriers and safety
        features to ensure your pet's safety and comfort on the road. Whether it's a routine appointment or a special
        outing, I provide a stress-free travel experience for both you and your pet.</p>
    </div>
  </div>
</div>

<div class="contact-container">
  <p id="text">Serving up to a 30 minute radius of Hudson, FL</p>
</div>
