<div class="container text-center px-4 py-4" id="featured-3">
    <div class="row g-4 py-5 ">
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
            <i class="fa-solid fa-house"></i>
        </div>
        <h3 class="fs-2">Visits/Overnights</h3>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
        <!-- <a href="#" class="icon-link d-inline-flex align-items-center">
          Call to action
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
        </a> -->
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
            <i class="fa-solid fa-dog"></i>
        </div>
        <h3 class="fs-2">Dog-Walks</h3>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
        <!-- <a href="#" class="icon-link d-inline-flex align-items-center">
          Call to action
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
        </a> -->
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
            <i class="fa-solid fa-car"></i>
        </div>
        <h3 class="fs-2">Transportation</h3>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
        <!-- <a href="#" class="icon-link d-inline-flex align-items-center">
          Call to action
          <svg class="bi" width="1em" height="1em"><use xlink:href="#chevron-right"/></svg>
        </a> -->
      </div>
      <!-- <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
            <i class="fa-solid fa-ring"></i>
        </div>
        <h3 class="fs-2">Wedding Services</h3>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
      </div> -->
    </div>
  </div>


  <div class="contact-container">
    <p id="text">Serving up to a 30 minute radius of Hudson, FL</p>
    <!-- <button type="button" class="btn btn-dark">Call (585) 455-5577 Today</button> -->
</div>