/* hero.component.css */
.hero-container {
  position: relative;
  background-image: url('../../assets/gallery/3.jpg');
  background-size: cover;
  background-position-y: 25%;
  height: 400px;
  /* Adjust based on your preference */
}


.overlay {
  background: rgba(0, 0, 0, 0.5);
  /* Dark overlay; adjust opacity as needed */
  width: 100%;
  height: 100%;
  z-index: 1;
}

.container {
  z-index: 2;
}

/* Optional: If you want the title to stand out more */
h1 {
  font-weight: bold;
}

.gallery {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
}

.image {
  width: 100%;
}

#logo {
  height: 100%;
  content: url('../../assets/Logo/file.png');
  margin: 20px;
}

.row {
  display: flex; /* Align items in a row */
  justify-content: space-around; /* Distribute space evenly around the items */
  align-items: center; /* Center items vertically */
}

.item {
  font-size: 28px;
  margin: 0 10px; /* Add horizontal margin for spacing */
}

.badges{
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
}

.badge{
  background-color: #a7b5a5;
  width: 400px;
  padding: 20px;
  font-size: 20px;
}