<div class="socialBar">
    <div class="instagram-facebook">
        <a class="" href="https://www.facebook.com/anniespetsittingllc" target="_blank"><i
                class="bi bi-facebook social-logos"></i></a>
    </div>
    <div class="email">
        <a class="emailLink" href="mailto:annies.petsitting@yahoo.com">
            <i class="bi bi-envelope social-logos"></i>
            <p id="email">annies.petsitting&#64;yahoo.com</p>
        </a>
        <p class="split" style="color: white; height: 50%;">|</p>
        <div class="phoneNumber">
            <a class="phoneLink" href="tel:+15854555577">
                <i class="bi bi-telephone social-logos"></i>
                <p id="phoneNumber">(585) 455-5577</p>
            </a>
        </div>
    </div>

</div>