.socialBar {
    display: flex;
    background-color: #000;
    width: 100%;
    height: 25px;
    justify-content: space-between;
}

.social-logos {
    padding-left: 15px;
    color: white;
}

.email {
    display: flex;
    align-items: center;
    height: 100%;
}

.instagram-facebook{
    z-index: 9999;
}

.emailLink,
.phoneNumber,
.phoneLink {
    display: flex;
    height: 100%;
    align-items: center;
    text-decoration: none;
    z-index: 9999;
}




#email,
#phoneNumber {
    height: 50%;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
}

.phoneNumber {
    margin-left: 8px;
}

@media (max-width: 554px) {
    .emailLink{
        display: none;
    }
    .split{
        display: none;
    }
}