<!-- hero.component.html -->
<div class="hero-container position-relative">
    <div class="overlay position-absolute top-0 end-0 bottom-0 start-0"></div>
    <div class="container position-relative d-flex justify-content-center align-items-center h-100">
      <div class="logo-container"><img src="../../assets/Logo/file.png" width="400" height="400" id="logo" alt="" />
      </div>
    </div>
  </div>

  <h1 class="heading text-center m-3 pt-3">Let's include your animal babies in your big day!</h1>
  
  <div class="service-container">
    <div class="mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <div class="row">
          <div class="col-md-4">
            <div class="img-container">
                <img src="assets/puppy_wedding.png" class="img-fluid" alt="Visits and Overnights">
            </div>
          </div>
          <div class="col-md-6 mt-4">
            <h1 class="display-5 fw-bold text-center">Personalized wedding plans for your Dogs, Cats, or any other pet!</h1>
            <ul>
                <li class="menu-item">Meet with Bride and Groom and with Venue and Vendors</li>
                <li class="menu-item">Attend Rehearsal with pets, bring the animal(s) to the wedding venue, pictures, and reception</li>
                <li class="menu-item">Take care of pet's needs during the event (bathroom, water, feeding, treats, dressing pet in needed clothing/accessories)</li>
                <li class="menu-item">Help pose pets for photos</li>
                <li class="menu-item">Handles pet, supervises pets, and takes pets on walks around venue</li>
                <li class="menu-item">Petsitting at your home/hotel while you're at the wedding (visits, overnights)</li>
                <li class="menu-item">Stay with your pets while you're on your honeymoon</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  

  
  </div>