<div class="hero-container">
    <div class="hero-images">
        <img src="assets/gallery/image0.jpeg" alt="Image 1" />
        <img src="assets/gallery/image1.jpeg" alt="Image 2" />
        <img src="assets/gallery/image2.jpeg" alt="Image 3" />
        <div class="overlay"></div>
    </div>
    <div class="hero-content text-center text-white">
        <img src="assets/Logo/cake-logo.png" id="logo" height="350" width="250" alt="">
        <h1 class="display-5 fw-bold p-3">Cake is the name, creativity is the game!</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Making pretty, fun, cool and weird cakes for all occasions!</p>
            <!-- <div class="d-sm-flex justify-content-sm-center">
                <button type="button" class="btn btn-lg px-4 gap-3 quotes-btn">
                    <a class="btn-phone text-white" href="tel:+15854555577">(585) 455-5577</a>
                </button>
            </div> -->
        </div>
    </div>
</div>

<app-contact></app-contact>
<app-features></app-features>
