<div class="hero-container">
    <div class="hero-content text-center text-white">
        <div class="logo-container">
            <img src="../../assets/Logo/file.avif" id="logo" alt="Logo Description" />
        </div>
        <h1 class="text display-5 fw-bold p-3">Pet Sitting That Comes To You</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Servicing Hudson, Bayonet Point, Port Richey, Springhill, Odessa, Elfers, Holiday, Trinity and Hernando Beach </p>
            <div class="d-sm-flex justify-content-sm-center">
                <button type="button" class="btn btn-lg px-4 gap-3 quotes-btn">
                    <a class="btn-phone text-white" href="tel:+15854555577">(585) 455-5577</a>
                </button>
            </div>
        </div>
    </div>
</div>


<app-contact></app-contact>
<app-features></app-features>